.question-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 80px;
  transition: ease 0.4s;
}

.question-card input {
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 15px;
  width: 65%;
  border: none;
  border-bottom: 1px solid #00b4d8;
  outline: none;
}
.question-card label {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  position: relative;
}

.question-card input:focus {
  border-bottom: 2px solid #0077ff;
}
.question-card input::placeholder {
  text-align: end;
  margin-right: 18px;
}
.question-card button {
  display: inline-block;
  padding: 5px 30px;
  border-radius: 12px;
  margin: auto;
}
.unvalid {
  color: red;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  left: 15%;
}

@media screen and (min-width: 600px) {
  .question-card {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .unvalid {
    color: red;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    left: 15%;
  }
}
